.page-contents {
  display: flex;
  padding: 0px 110px;
}

.all-contents {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sellable-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 60px;
  padding: 20px;
  height: fit-content;
}

.item-image {
  width: 200px;
  height: auto;
  max-width: 220px;
}

.item-metadata {
  font-weight: 500;
  font-size: 12px;
}

.item-brand {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 14px;
}

.item-detail {
  padding: 10px;
}

.item-extra {
  font-weight: 300;
  text-transform: capitalize;
  margin: 6px 0px 11px 0px;
  font-size: 13px;
  color: #535766;
}

.cash-details {
  display: flex;
}

.item-discount {
  color: #ff905a;
  font-size: 12px;
  margin-left: 5px;
}

.dropdown-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding-right: 20px;
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 140px;
}

.no-data-text {
  margin: 200px 0px 50px 0px;
}

.sellable-container {
  width: 100%;
}

.image-contents {
  position: relative;
}

.overlay-items {
  position: absolute;
  bottom: 15px;
  left: 12px;
  background: hsla(0, 0%, 100%, .5);
  padding: 2px 4px;
  border-radius: 4px;
  color: black;
  display: flex;
  gap: 4px;
  align-items: center;
}

.rating {
  font-size: 12px;
  font-weight: 500;
}

.star-icon {
  color: green;
  font-size: 16px;
}