.page-contents {
  display: flex;
  padding: 0px 110px;
}

.all-contents {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sellable-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 60px;
  padding: 20px;
  height: fit-content;
}

.item-image {
  width: 200px;
  height: auto;
  max-width: 220px;
}

.item-metadata {
  font-weight: 500;
  font-size: 12px;
}

.item-brand {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 14px;
}

.item-detail {
  padding: 10px;
}

.item-extra {
  font-weight: 300;
  text-transform: capitalize;
  margin: 6px 0px 11px 0px;
  font-size: 13px;
  color: #535766;
}

.cash-details {
  display: flex;
}

.item-discount {
  color: #ff905a;
  font-size: 12px;
  margin-left: 5px;
}

.dropdown-container {
  display: flex;
  justify-content: flex-end;
}

.page-head-components {
  display: flex;
  border-bottom: 1px solid #f0f0f0;
  padding: 15px 150px;
    justify-content: space-between;
    align-items: center;
  }
  
  .filters-heading {
    display: flex;
    width: 270px;
    min-width: 260px;
    justify-content: space-between;
}
