.side-cart {
  width: 270px;
  min-width: 260px;
  border-right: 1px solid #f0f0f0;
  height: 100%;
  margin: 0px 20px 0px 20px;
  padding: 20px 0px;
}

.head-filters {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin-bottom: 30px;
}

.side-header {
  margin: 25px 0px 0px 28px;
  font-weight: 500;
}

.separator {
  height: 1px;
  width: 100%;
  border-top: 1px solid #f0f0f0;
  margin-top: 20px;
}

.filter-options {
  margin-left: 20px;
  width: 243px;
  min-width: 240px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
  padding-left: 28px;
  font-weight: 500;
  margin-top: 36px;
  padding-bottom: 27px;
}

.clear-all {
  padding-right: 20px;
  color: #ff3f6c;
  cursor: pointer;
}
