.all-multiselect-contents {
  margin-right: 20px;
  margin: 0px 20px 0px 28px
}

.title-ms {
  font-weight: 500;
}

.search-text {
  border: none;
  height: 30px;
  outline: none;
  padding: 0px 15px;
  background: #f0f0f0;
  border-radius: 10px;
}

.search-icon {
  cursor: pointer;
  height: 18px;
  background: #f0f0f0;
  border-radius: 50%;
  padding: 7px;
}

.input-with-suffix {
  background: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 23px;
}

.close-search {
  margin-right: 4px;
  cursor: pointer;
  font-size: 17px;
}

.item {
  margin: 10px 0px 0px 0px;
  font-weight: 300;
}