* {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  word-break: break-word;
}

.options-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  margin-top: 5px;
}